# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*        # if you use .env.development etc.


# Logs
logs/
*.log

# IDEs & Editors
.vscode/
!.vscode/extensions.json  # allow team extensions
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db

# Misc
*.local
coverage/
.cache/
.eslintcache

# Optional if using Docker
docker-compose.override.yml
